@model IEnumerable<int[,]>

@{
    var count = 1;
}


<div class="text-center">
    <h1 class=" display-4 fw-bolder">Bienvenidos al Juego</h1>
</div>

<div class="container text-center">
    <div class="row  ">
        @foreach (var carton in @Model)
        {
            <vc:lottery-card-row id=@count matrix=carton />
            count++;
        }
    </div>
    <br />
    <div>
        <button class="btn btn-success " id="lanzarBolilla">Lanzar Bolilla</button>
    </div>
</div>

<div class="container text-center">
    <div class="row flex-lg-row flex-sm-column  flex-sm-wrap-reverse  ">
        <div class="col display-5 fw-bolder " id="bolilla">
            Bolilla:
        </div>
        <div class="col  display-5 fw-bolder" id="ganador">
           Ganadores:
        </div>
    </div>
</div>
<div class="display-3 d-none" id="winner">  </div>
<script type="text/javascript">

    var winners = [];

    var cartones = {
        carton1: {
            id: 1,
            counter: 0
        },
        carton2: {
            id: 2,
            counter: 0
        },
        carton3: {
            id: 3,
            counter: 0
        },
        carton4: {
            id: 4,
            counter: 0
        },
    }

    function chequearGanadores() {
        Object.keys(cartones).forEach(async c =>  {
            if (cartones[c].counter === 2) {
                winners.push(cartones[c].id);
                await fetch("Api/Winner/Cartones", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify(winners)
                })
                $("#ganador").text(`Ganadores: ${winners.map(x=>x)}`);
                $("#winner").text(`El Carton Ganador es: ${winners.map(x => x)}`);
                document.getElementById("winner").classList.toggle("d-none");
            }
        });
    }
    document.querySelector("#lanzarBolilla").addEventListener("click", async function () {
       await fetch("Api/Bolillero")
            .then(response => response.json())
            .then(data => {
                let bolillas = document.querySelectorAll(".bolilla");
                bolillas.forEach(function (b) {
                    if (Number(b.textContent) === data) {
                        b.classList.toggle("paint");
                    }
                });

                $("#bolilla").text(`Bolilla: ${data}`);

                cartones.carton1.counter = $('#1').find('.paint').length
                cartones.carton2.counter = $('#2').find('.paint').length
                cartones.carton3.counter = $('#3').find('.paint').length
                cartones.carton4.counter = $('#4').find('.paint').length
               
                chequearGanadores();
            })
            .catch(error => console.error(error));

        });
</script>
