@model ProyectoFinal.Data.HistorialBolillero

@{
    var balls = new List<int>();
    Random random = new Random();
    int c1 = 0;
    int c2 = 0;
    int c3 = 0;
    int c4 = 0;
    bool repeat = false;
    //las bolillas no se pueden repetir por juego
    while (!repeat)
    {
        ViewBag.Bolilla = random.Next(1, 91);
        if (!balls.Contains(ViewBag.Bolilla))
            repeat = true;        
    }

    balls.Add(ViewBag.Bolilla);

    //si cualquiera de los cartones llega a 15 termina el juego
    //if (ViewBag.Carton1.Any(x => x == ViewBag.Bolilla))
    //     c1++;
    if (ViewBag.Carton2.Contains(ViewBag.Bolilla))
         c2++;
    if (ViewBag.Carton3.Contains(ViewBag.Bolilla))
        c3++;
    if (ViewBag.Carton4.Contains(ViewBag.Bolilla))
        c4++;
         
  
}

<form asp-controller="Bolillero" asp-action="Create" method="post">
    <p type="@ViewBag.Bolilla" name="data"> </p>    
</form>
