<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .show {
            font-weight: 400;
            font-size: 4vh;
            line-height: 1;
            width: auto;
            text-align: center;
            min-width: calc(100% / 9 - 2px);
            max-width: calc(100% / 9 - 2px);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .paint {
            border-radius: 50%;
            padding: 1.1rem;
            background-color: red;
            line-height: 4vh;
            width: calc(4vh);
            height: calc(4vh);
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 150%;
            min-height: 150%;
        }

        .bg-color {
            background-color: rgb(51, 255, 243 );
        }

        .display [class^="col"], .bd-example-cols [class^="col"] > *, .bd-example-cssgrid [class*="grid"] > * {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            border: 1px solid #000;
            font-weight: bold;
        }

        #modal {
            display: none; /* Ocultar la ventana modal por defecto */
            position: fixed; /* Posición fija */
            z-index: 1; /* Mostrar por encima de otros elementos */
            left: 0;
            top: 0;
            width: 100%; /* Ancho completo de la pantalla */
            height: 100%; /* Altura completa de la pantalla */
            overflow: auto; /* Mostrar barras de desplazamiento si el contenido es demasiado largo */
            background-color: rgba(0,0,0,0.4); /* Fondo semi-transparente */
        }

        #modal-content {
            background-color: #FFEB3B; /* Fondo amarillo */
            margin: 15% auto; /* Margen superior y inferior automático */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Ancho del contenido */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            #close-button:hover,
            #close-button:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .text-responsive {
            font-size: 3vw;
            font-weight: 500;

        }

        #modal-bolillas {
            display: none;
        }

        #modal-bolillas {
            position: fixed; /* hace que el modal se quede fijo en pantalla */
            z-index: 1; /* lo coloca en la parte frontal */
            left: 0;
            top: 0;
            width: 100%; /* hace que ocupe todo el ancho de la pantalla */
            height: 100%; /* hace que ocupe todo el alto de la pantalla */
            overflow: auto; /* permite hacer scroll si el contenido es demasiado largo */
            background-color: rgba(0,0,0,0.5); /* le da un color de fondo con transparencia */
        }

        #modal-content-bolillas {
            background-color: rgb(225, 246, 244);
            margin: 5% auto; /* le da un margen en el alto y en el ancho */
            padding: 20px; /* le da un padding interno */
            border: 1px solid #888;
            width: 80%; /* le da un ancho */
        }

        #modal-text p {
            display: inline-block;
            margin-right: 8px;
            font-size: 3vw;
            
        }

        #close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            #close:hover,
            #close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>

<body class="p-0 m-0 ">
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
